.diamonds{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    padding-top: 30px;
}


img{
    width: 200px;
    height: 200px;
}

.shape{
    text-align: center;
    font-size: 40px;
}

@media screen and(min-width:480px){
    body{
        background-color:whitesmoke ;
    }
}
