.diamonds{
    display: grid;
    grid-template-rows: min-content;
    text-shadow: 2px 2px 2px white;
    padding-top: 30px;
    white-space: nowrap;
    font-size: 30px;
    text-align: center;
    transition: 0.2s;
    text-decoration: underline;
}


img{
    display: block;
    border: 5px solid black;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45%;
    width: 45%;
    box-shadow: 5px 5px 5px black;
}


td {
    border: 3px solid black;
    text-align: center;
    color: black;
}

th {
    border: 2px solid black;
}


.shape{
    text-align: center;
    font-size: 25px;
}

@media screen and(min-width:480px){
    body{
        background-color:whitesmoke ;
    }
}
