/* .diamonds{
    display: grid;
    grid-template-rows: min-content;
    text-shadow: 2px 2px 2px white;
    padding-top: 30px;
    white-space: nowrap;
    font-size: 30px;
    text-align: center;
    transition: 0.2s;
    text-decoration: underline;
}


img{
    display: block;
    border: 5px solid black;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45%;
    width: 45%;
    box-shadow: 5px 5px 5px black;
}


td {
    border: 3px solid black;
    text-align: center;
    color: black;
}

th {
    border: 2px solid black;
}


.shape{
    text-align: center;
    font-size: 25px;
}

@media screen and(min-width:480px){
    body{
        background-color:whitesmoke ;
    }
} */


.img{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 7px;
    /* padding-bottom: 2px; */
    border: 2px solid #F18701
}

.shape{
    padding-top: 10px;
    list-style: none;
    padding-right: 65px;
    font-size: 15px;
}

.list{
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 200px;
    padding-top: 20px;
    margin: 17px;
}

.details{
    display: inline-block;
}